[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/zrquan/hugo-theme-fuji.git
