[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/zrquan/hugo-theme-fuji.git
[submodule "public"]
	path = public
	url = git@github.com:zrquan/zrquan.github.io.git
	branch = main
